.body{
    border: 1px solid black;
    background-color: bisque;
    height: 98vh;
}
.head{
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    justify-content: center;
}
.page{
    padding: 20px;
    cursor: pointer;
}
.page:hover{
    padding: 20px;
    cursor: pointer;
    background-color: green;
}
.centerbody{
    display: flex;
    justify-content: center;
}
.name{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: max-content;
}
#language{
    padding: 6px;
    border-radius: 25px;
    margin-left: 6px;
    border: 1px solid;
    cursor: pointer;
    background-color: bisque;
    height: fit-content;
    margin-top: 19px;
}
#language:hover{
    background-color:yellow;
}
.labels{
    margin: 10px 20px 30px 40px;
    font-size: 30px;
}
#left{
    justify-content: end;
    display: grid;
}
.headers{
    border: 1px black solid;
    padding: 14px;
}
.name{
    padding: 5px;
}
#formid{
    display: grid;
    justify-content: center;
    width: 415px;
    height: 272px;
}
.contactform{
    display: flex;
    justify-content: center;
}
.btn{
    justify-self: center;
}
.btnstyle{
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    padding: 8px;
    cursor: pointer;
}
input:hover{
    background-color: yellow;
}